.form-container {
  height: 100%;
  background: linear-gradient(#bec7c5, #44abc9) !important;
}

.form-content {
  align-items: center;
  display: flex;
}

.ant-progress-text {
  color: #cacaca !important;
}

.ant-progress-status-success .ant-progress-text {
  color: #87d068 !important;
}
