.start-container {
  height: 100%;
  background: linear-gradient(#efd259, #ddae9d) !important;
}

.start-content {
  align-items: center;
  display: flex;
}

.sub-text {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.step-text {
  font-family: termina, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 38px;
  line-height: 41px;
}
