.date-box {
  border: solid 2px white;
}

.inner-box {
  padding: 8px 0;
}

.month-day {
  font-family: termina, sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.day-number {
  font-family: termina, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 24px;
  text-transform: uppercase;
}
